.desktop-navlinks {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 370px;
  margin-bottom: 60px;
}

.desktop-navlinks-car {
  display: flex;
  background-color: #4470B2;
  color: white;
  width: 50vw;
  align-items: center;
  padding-left: 10px;

  span {
    color: white;
    padding-left: 35%;
  }
}

.desktop-navlinks-mc {
  display: flex;
  background-color: #E37575;
  width: 50vw;
  align-items: center;
  justify-content: right;
  padding-right: 10px;

  span {
    padding-right: 35%;
  }
}


@media screen and (max-width: 721px) {
  .desktop-navlinks {
    display: none;
  }
}