.go-back-btn-container{
  height: 40px;
  z-index: 900;
  position: fixed;
  top: 90px;
  width: 100%;
  background-color: white;

  .go-back-btn-fake-btn{
    margin-left: 20px;
    display: flex;
    align-items: center;
    max-width: 120px;
    cursor: pointer;
    svg{
      font-size: 34px;
    }
  }
}
//mobile
