@import './assets/home';
@import './assets/goBackBtn';
@import './assets/details';
@import './assets/navbar';
@import './assets/searchbar';
@import './assets/footer';
@import './assets/mobileNav';
@import './assets/desktopNav';
@import './assets/login-register';
@import './assets/bookings';
@import './assets/checkout';
@import './assets/payment';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100dvh;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
  padding-top: 90px;
  padding-bottom: 55px;
}
a {
  text-decoration: none;
  color: black;
}
//outer container on pages with listings
.outer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
//colours
.car-color{
  color: #4470B2;
}
.car-bcolor{
  background-color: #4470B2;
}
.car-bcolor-tran{
  background-color: #4470b2b2;
}
.mc-color{
  color: #E37575;
}
.mc-bcolor{
  background-color: #E37575;
}
.mc-bcolor-tran{
  background-color: #e37575b2;
}
//error class
.error{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}